{% extends 'base.html' %}
{% load static%}

{% block title %}Edit Recipe{% endblock title %}

{% block content %}
<main class="form-list">
  <h1>Recipe Entry Form</h1>
  <section class='menu'>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button is-primary">Create</button>
    </form>
  </section>
</main>
{% endblock content %}
