{% extends 'base.html' %}
{% load static %}

{% block title %}Recipe{% endblock title %}

{% block nav %}
<a href="{% url 'edit_recipe' re.id %}">Edit</a>
<a href="{% url 'delete_recipe' re.id %}">Delete</a>
{% endblock nav %}

{% block content %}
<section class="detail-content">
    <div>
        <h3>{{re.title}}</h3>
        <img src='{{re.picture}}'>
        <div>
            <p>4.3 stars</p>
        </div>
    </div>
    <div>
        <h3>Description</h3>
        <blockquote>
            {{re.description}}
        </blockquote>
    </div>
    <table class="ingredients-table">
        <thead>
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Food Item
                </th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class='instructions'>
        <h3>Steps</h3>
        <ol>
            {% for step in re.steps.all %}
            <l1>{{ step.steps }}</l1>
            {% endfor %}
        </ol>
    </div>
</section>

{% endblock content %}
