{% extends 'base.html' %}
{% load static%}

{% block title %}Create Recipe Recipes{% endblock title %}

{% block content %}
    <main class="form-list">
      <h1>Recipe Edit Form</h1>
      <section class='menu'>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button is-primary">Update</button>
        </form>
      </section>
    </main>
{% endblock content %}
