{% extends 'base.html'%}
{% load static%}

{% block title %}Scrumptious Recipes{% endblock title %}

{% block nav %}
<a href="{% url 'create_recipe' %}">Create a recipe</a>
{% if user.is_authenticated %}
	Welcome {{user.username}}
	<a href="{% url 'user_logout' %}">Log Out</a>
{% else %}
<a href="{% url 'sign_up_form' %}">Create User</a>
<a href="{% url 'login_form' %}">Login</a>
{% endif %}
{% endblock nav %}




{% block content %}
<section class="list-content">
	<h2>All the food that's fit to eat</h2>
	<div class='menu'>
		{% for recipe in recipes%}
		<div>
			<a href="{% url 'show_recipe' recipe.id %}">
				<div class="recipeTitle">
					<h3>{{recipe.title}}</h3>
				</div>
				<p>dated added: {{ recipe.created_on|date:"M j Y" }}</p>
				<img src="{{recipe.picture}}">
			</a>
			<div>
				<div>
					<p>4.3 stars</p>
				</div>
				<section class="descript-block">
					<h3>Description</h3>
					<blockquote>
						{{recipe.description}}
					</blockquote>
				</section>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock content %}
