* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    transition: all .25s linear;
}

@font-face {
    font-family: "Crimson Foam";
    src: url("../fonts/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: "Qwitcher Grypen";
    src: url("../fonts/QwitcherGrypen-Bold.ttf");
}

@font-face {
    font-family: "Crimson Foam";
    src: url("../fonts/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: "Crimson Foam";
    src: url("../fonts/GreatVibes-Regular.ttf");
}

a {
    text-decoration: none !important;
    transition: all .2s linear;
}

body {
    background-image: linear-gradient(175deg, #000, #2c3e50 74%);
}

.wrapper {
    margin: 0 auto;
    color: white;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;

}

header {

    padding: 10px 20px;
    height: 100px;
}

header h1 {
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 7rem;
    color: antiquewhite;
}

header a {
    color: antiquewhite;
    font-size: 1.25rem;
}

header a:hover {
    color: green;
    font-size: 1.30rem;
}

main {
    /* border: thick solid red; */
    flex: 1;
    padding: 20px 5%;
    overflow: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    /* border: thin solid red; */
    margin: 0 10px;
    font-size: 1.25rem;
    color: blanchedalmond;
}

nav a:hover {
    color: green;
    text-shadow: 0px 0px .5px white;
}

.main-list h1,
.menu h2 {
    padding: 40px 0;
    color: green;
}

.list-content {
    /* border: thin solid yellow; */
    padding: 30px 0;
}

.menu h3 {
    margin: 10px 0;
}

.menu a {
    color: cadetblue
}

.menu a:hover {
    color: darkgreen;
}

.menu {
    /* border: thin solid green; */
    padding: 10px 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    /* grid-gap: 20px; */
    justify-content: space-between;
}

.menu img {
    width: 85%;
    height: auto;
    border-radius: 5%;

}

.menu img:hover {
    box-shadow: 2px 1px 31px 10px;
    width: 87%;
    transform: rotate(10deg);
}

.recipeTitle {
    height: 3.75rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    width: 85%;
}

.descript-block {
    background-color: rgba(255, 255, 255, .2);
    color: antiquewhite;
    padding: 5px;
    border-radius: 7px;
    margin-top: 10px;
    width: 85%;
}

.detail-content img {
    width: 200px;
    height: auto;
    border-radius: 5%;

}

.main-detail tr:nth-child(even) {
    background-color: lightgreen;
    margin: 0;
}

.instructions {
    max-width: 400px;
    /* border: thin solid red; */
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

.instructions ol {

    padding: 10px 25px;

}

footer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: antiquewhite;
    height: 75px;
    font-size: 1.1rem;
}
