{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    {% block link %}{% endblock link %}
</head>
<body>
    <div class="wrapper">
    <header>
        <h1 id="h1">Scrumptious Recipes</h1>
    </header>
        <main>
       <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        {% block nav %}{% endblock nav %}
       </nav>
     {% block content %}{% endblock content %}
    </main>
     <footer>
        <h4>Made with love by Scrumptious Recipes</h4>
      </footer>
    </div>
</body>
</html>
